# PostgreSQL
DATABASE_URL=postgresql://postgres:123456@localhost:5432/pineapple_hub

# JWT
JWT_SECRET=wawawawawawawawawawaowin
JWT_EXPIRES_IN=24h

# MQTT Broker (Aedes inside Node-RED)
MQTT_BROKER_URL=mqtt://192.168.1.10:1883

# Server
PORT=3001
